{% extends "base.html" %}

{% block content-title %}
{{title}}
{% endblock %}

{% block content %}

<table class="table table-striped">
    {% for obj in object_list %}
        {% if forloop.first %}
        <thead>
            <tr>
                {% for label, value in obj.field_list %}
                <th>{{label}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr>
                {% for label, value in obj.field_list %}
                <td><a>{{value}}</a></td>
                {% endfor %}
            </tr>
            {% if forloop.last %}
        </tbody>
        <tfoot>
            <tr>
                {% for label, value in obj.field_list %}
                <th>{{label}}</th>
                {% endfor %}
            </tr>
        </tfoot>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}